:root {
	--color-graphite: #1F2026;
	--color-asphalt-dark: #323338;
	--color-asphalt: #484A54;
	--color-dark-grey: #7C7D88;
	--color-grey: #BCBDC5;
	--color-light-grey: #F5F5F5;
	--color-white: #FFFFFF;

	--color-red: #FF3B30;
	--color-orange: #FF9500;
	--color-yellow: #FFCC00;

	--color-light-green: #94EEAA;
	--color-main-green: #34C759;
	--color-dark-green: #21A342;

	--color-main-blue: #273270;
	--color-dark-blue: #1D254F;

	--color-text: var(--color-asphalt);

	--color-link: var(--color-main-blue);
	--color-link-hover: var(--color-dark-blue);
	--color-link-visited: var(--color-graphite);
}
